/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  background-color:  #F5F5F5;
  color: rgba(74, 78, 116, 1);
}
.sm-icon {
  width: 30px;
}
.sm {
  display: flex;
  align-items: center;  
  justify-content: space-evenly;
  list-style-type: none;
}
.img {
  width: fit-content;
  height: 250px;
}
footer {
  background: #D5D4D8;
  border-radius: 0px 0px 10px 10px;
}
.interst-list > li {
  list-style-type: square;
}
.interst-list > li::marker {
  color: black;
}
.name {
  color: black;
}
